/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@tailwind utilities;


@media only screen and (max-width: 600px) {

    .bglayer::after {
        content: '';
        background: #f7f7f7d6;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .bgContact {
        background-image:unset!important;
    }
    .animate {
        word-spacing: -2px !important;
    }

    .popuplogin{
        width: 100%;
    } 
}

// @media only screen and (max-width: 600px) {
   
//   }