
.share-btn {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    svg{
        display: inline;
        vertical-align: sub;
        margin-right: 8px;
    }
}
.share-btn ul {
    padding: 0px;
    margin-bottom: 0px;
}
.share-btn ul li {
    display: inline-block;
    margin-right: 4px;
    line-height: 40px;
}
.share-btn ul li:nth-child(1) a {
    background: #3b5998;
}
.share-btn ul li a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    padding: 8px 12px;
    border-radius: 3px;
}
.share-btn ul li:nth-child(2) a {
    background: #00aced;
}
.wa1 {
    background: #34af23;
}
.li1 {
    background: #0077b5;
}

::ng-deep .mat-tab-group.greenTabx .mat-tab-header .mat-tab-label-container{
  padding: 0!important;
}
::ng-deep .mat-tab-group.greenTabx .mat-tab-body-content{
    padding: 1rem 0!important;
}

.tab-pane {

    h4{
        padding: 10px 0px 18px 0px;
        font-size: 18px;
        font-weight: 600;
    }
    p, li {
        color: #203245;
        line-height: 24px;
    }
}
.table-bordered {
    border: 1px solid #ddd;
}
.table-striped > tbody > tr:nth-of-type(odd) {
   // background-color: #f9f9f9;
    background-color: #dcedfd;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

::ng-deep .carousel-indicators button {
    width: 15px;
    height: 15px;
    margin: 7.5px;
    min-height: 0!important;
}
::ng-deep .carousel-slide-content{
 background: #fff!important;
}
::ng-deep .carousel > button:first-of-type {
    left: 0px!important;
}
::ng-deep .carousel > button:last-of-type {
    right: 0px!important;
}
::ng-deep .carousel-indicators {
    bottom: -3px!important;
}
.de-left-tit {
    background: #88d834;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.pattern .table-bordered {
    border: 1px solid #ddd;
}
.pattern table > tbody > tr:nth-of-type(odd) {
   // background-color: #f9f9f9;
    background-color: #dcedfd;
}
.pattern .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}
.pattern > thead > tr > th, .pattern > tbody > tr > th, .pattern > tfoot > tr > th, .pattern > thead > tr > td, .pattern > tbody > tr > td, .pattern > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

::ng-deep .mat-tab-group.greenTab .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label.mat-tab-label-active{
    background-color: #88d834!important; 
}
::ng-deep .mat-tab-group.greenTab .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label.mat-tab-label-active{
    color: #fff!important; 
}
.de-left-tit {
    background: #0099f3;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}