<div class="flex flex-col flex-auto min-w-0">

    <div class="heroSection relative" style="height: 20vh;">
        <div class="text-white z-10 textset">

            <div class="flex justify-center mt-3">
                <mat-form-field class="md:w-1/2 w-full lg:w-1/2 h-12 bg-white rounded-md">
                    <input matInput class="text-black" placeholder="Search here ...">
                </mat-form-field>
                <button mat-flat-button color="primary" class="rounded py-6 -ml-10"><mat-icon
                        matSuffix>search</mat-icon></button>
            </div>
        </div>
    </div>

    <div class="flex-auto p-4">
        <div class="bg-card shadow rounded-2xl p-3 sm:p-10 mx-auto sm:mb-10 sm:mt-12 mt-8 max-w-screen-lg">
            <div
                class="bg-primary-200 shadow text-center rounded-2xl p-3 text-lg sm:text-4xl font-bold sm:-mt-18 -mt-8">
                Who We Are...
            </div>
            <div class="sm:pt-6 pt-4 text-lg leading-normal">

                <p><span class="text-xl mt-3 mb-2 font-semibold">OhCampus.com :</span> India's First Integrated Campus
                    Media and Admission Portal<br>
                    <br>
                    OhCampus.com is a pioneering platform in India that serves as both a campus media outlet and an
                    admission portal. We act as an information bridge between aspiring students and colleges, providing
                    a unique, integrated approach that helps scholars manage their careers and achieve their goals.
                    <br>
                    <br>
                    Our platform offers comprehensive information on engineering, medical, management, pharmacy, arts,
                    and science colleges. We also feature top courses such as animation and gaming, finance and
                    accounting, law, vocational training, fashion, hospitality and tourism, and design—helping students
                    explore their interests and make informed decisions.
                    <br>
                    <br>
                    In addition to course details, subjects, fees, and infrastructure, we provide valuable resources
                    such as links to scholarships and loans. Our team of expert admission counselors is available to
                    guide you through the admission process, offering personalized support to help you choose the right
                    college and chart the next steps in your career.
                    <br>
                    <br>
                    If you’re unsure about your options, OhCampus.com offers a comparison tool to evaluate colleges
                    based on rankings, placements, facilities, and reviews. Our website also hosts a wide range of
                    articles featuring the latest educational news, college festivals, and more.
                    <br>
                    <br>
                    Students can filter colleges and courses based on rankings from top educational sources. Currently,
                    we focus on six states—Karnataka, Kerala, Tamil Nadu, Maharashtra, Telangana, and Andhra
                    Pradesh—with additional expertise in PG admissions in the medical sector in Rajasthan.
                    <br>
                    <br>
                    OhCampus.com simplifies the process of finding the right academic path, offering filters for top
                    careers, exam sections, and a quick inquiry form that ensures prompt responses from our counselors.
                    <br>
                    <br>
                    For assistance, feel free to contact us at 8884560456 or 9482243432. Remember, your future shines
                    bright when you take the right steps. Best of luck!
                    <br>
                    <!-- <br>
                    Feel free to contact us on 8884560456 or 9482243432 &nbsp;to clear up your confusion. Your future is
                    only bright when you want it! ALL THE BEST! -->
                </p>
            </div>
        </div>
    </div>

</div>