
.shortRiew{
    span{
        border: 1px solid #ddd;
        padding: 2px 7px;
        font-size: 12px;
        margin-right: 10px;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
    }
    mat-icon{
        min-width: 0;
        width: 15px;
        color: #FFC107;
        margin-right: 4px;
    }
}
.totalrew{
    mat-icon{
        min-width: 0;
        width: 15px;
        color: white;
        margin-right: 2px;
        margin-top: -1.5px;
    }
   
}

.scroll-top-button {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 1000;
    display: none; /* Initially hide the button */
  }
  
  .scroll-top-button.show {
    display: block; /* Show the button when scrolling */
  }
  
  .hover:hover{
    color: rgb(33 150 243);
  }