<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto mt-8 mb-14">
        <div class="text-5xl text-center font-bold md:mb-10 lg:mb-10">Compare College</div>
        <div class="sm:grid md:grid-cols-2 lg:grid-cols-2 gap-4 min-w-0 md:mx-32 lg:mx-32">

            <fuse-card class="flex flex-col md:flex-row justify-between w-full p-8 pb-4 filter-listing">
                <div class="flex flex-col flex-auto order-2 md:order-1 md:w-96">
                    <div class="text-xl font-semibold leading-tight">National Institute of Technology Tiruchirappalli
                        (NITT)</div>
                    <div class="flex items-center leading-none mt-2 -ml-1">
                        <div class="flex items-center">
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5"
                                [svgIcon]="'mat_outline:star_half'"></mat-icon>
                        </div>
                        <div class="text-secondary ml-2">4.5</div>
                        <div class="text-secondary mx-2">&bull;</div>
                        <div class="text-secondary">98 reviews</div>
                    </div>
                    <div class="mt-6">
                        <div class="flex flex-wrap items-center text-secondary my-1">
                            <span>$$</span>
                            <span class="mx-2">&bull;</span>
                            <span class="whitespace-nowrap">Arabian, Brazilian, Colombian</span>
                        </div>
                        <div class="flex items-center text-secondary my-1">
                            <span>774 Riverview St.</span>
                        </div>
                        <div class="flex flex-wrap items-center text-secondary my-1">
                            <span>Open</span>
                            <span class="mx-2">&bull;</span>
                            <span class="whitespace-nowrap">07:00AM Weekdays</span>
                            <span class="mx-2">&bull;</span>
                            <span class="whitespace-nowrap">10:00AM Weekends</span>
                        </div>
                    </div>
                    <div class="flex items-center mt-3 -mx-3">
                        <button class="px-3 mr-1" mat-button [color]="'primary'" [routerLink]="['./']">
                            View
                        </button>
                        <!-- <button
                            class="px-3 mr-1"
                            mat-button
                            [color]="'primary'"
                            [routerLink]="['./']">
                            Location
                        </button> -->
                        <!-- <button
                            class="px-3"
                            mat-button
                            [color]="'primary'"
                            [routerLink]="['./']">
                            Reviews
                        </button> -->
                    </div>
                </div>
                <div class="order-1 md:order-2 w-full md:w-40 md:ml-6 mb-8 md:mb-4 rounded-lg overflow-hidden">
                    <img class="md:w-40 h-full object-cover" src="assets/images/clg1.jpg" alt="Card cover image">
                </div>
            </fuse-card>
            <!-- <span>-----</span> -->

            <fuse-card class="flex flex-col md:flex-row justify-between w-full p-8 pb-4 filter-listing">
                <div class="flex flex-col flex-auto order-2 md:order-1 md:w-96">
                    <div class="text-xl font-semibold leading-tight">Manipal Institute of Technology (MIT)</div>
                    <div class="flex items-center leading-none mt-2 -ml-1">
                        <div class="flex items-center">
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5"
                                [svgIcon]="'mat_outline:star_half'"></mat-icon>
                        </div>
                        <div class="text-secondary ml-2">4.5</div>
                        <div class="text-secondary mx-2">&bull;</div>
                        <div class="text-secondary">98 reviews</div>
                    </div>
                    <div class="mt-6">
                        <div class="flex flex-wrap items-center text-secondary my-1">
                            <span>$$</span>
                            <span class="mx-2">&bull;</span>
                            <span class="whitespace-nowrap">Arabian, Brazilian, Colombian</span>
                        </div>
                        <div class="flex items-center text-secondary my-1">
                            <span>774 Riverview St.</span>
                        </div>
                        <div class="flex flex-wrap items-center text-secondary my-1">
                            <span>Open</span>
                            <span class="mx-2">&bull;</span>
                            <span class="whitespace-nowrap">07:00AM Weekdays</span>
                            <span class="mx-2">&bull;</span>
                            <span class="whitespace-nowrap">10:00AM Weekends</span>
                        </div>
                    </div>
                    <div class="flex items-center mt-3 -mx-3">
                        <button class="px-3 mr-1" mat-button [color]="'primary'" [routerLink]="['./']">
                            View
                        </button>
                        <!-- <button class="px-3 mr-1" mat-button [color]="'primary'" [routerLink]="['./']">
                            Location
                        </button>
                        <button class="px-3" mat-button [color]="'primary'" [routerLink]="['./']">
                            Reviews
                        </button> -->
                    </div>
                </div>
                <div class="order-1 md:order-2 w-full md:w-40 md:ml-6 mb-8 md:mb-4 rounded-lg overflow-hidden">
                    <img class="md:w-40 h-full object-cover" src="assets/images/clg2.jpg">
                </div>
            </fuse-card>
        </div>
    </div>
</div>