<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto mt-8 mb-14">

        <div class="bg-white shadow rounded-md overflow-x max-w-7xl mx-auto ">

            <div class="bg-primary-200 py-3 rounded-md px-6 border border-white">
                <h2 class="text-xl font-semibold text-gray-800">College List</h2>
            </div>
            <ul class="divide-y divide-gray-200">
                <li class="flex items-center py-4 px-6">
                    <span class="text-gray-700 text-lg font-medium mr-4">1.</span>
                    <img class="w-12 h-12 rounded object-cover mr-4" src="assets/images/clg1.jpg" alt="User avatar">
                    <div class="flex-1">
                        <h3 class="text-lg font-medium text-gray-800">Indian Institute of Management Ahmedabad</h3>
                        <!-- <p class="text-gray-600 text-base">1234 points</p> -->
                    </div>
                    <div class="flex">
                        <mat-checkbox class="example-margin" color="primary"> </mat-checkbox>
                    </div>
                </li>
                <li class="flex items-center py-4 px-6">
                    <span class="text-gray-700 text-lg font-medium mr-4">2.</span>
                    <img class="w-12 h-12 rounded object-cover mr-4" src="assets/images/clg2.jpg" alt="User avatar">
                    <div class="flex-1">
                        <h3 class="text-lg font-medium text-gray-800">Indian Institute of Management Bangalore</h3>
                        <!-- <p class="text-gray-600 text-base">987 points</p> -->
                    </div>
                    <div class="flex">
                        <mat-checkbox class="example-margin" color="primary"> </mat-checkbox>
                    </div>
                </li>
                <li class="flex items-center py-4 px-6">
                    <span class="text-gray-700 text-lg font-medium mr-4">3.</span>
                    <img class="w-12 h-12 rounded object-cover mr-4" src="assets/images/clg3.jpg" alt="User avatar">
                    <div class="flex-1">
                        <h3 class="text-lg font-medium text-gray-800">Indian Institute of Management Bangalore</h3>
                        <!-- <p class="text-gray-600 text-base">987 points</p> -->
                    </div>
                    <div class="flex">
                        <mat-checkbox class="example-margin" color="primary"> </mat-checkbox>
                    </div>
                </li>
                <li class="flex items-center py-4 px-6">
                    <span class="text-gray-700 text-lg font-medium mr-4">4.</span>
                    <img class="w-12 h-12 rounded object-cover mr-4" src="assets/images/clg4.jpg" alt="User avatar">
                    <div class="flex-1">
                        <h3 class="text-lg font-medium text-gray-800">Indian Institute of Management Bangalore</h3>
                        <!-- <p class="text-gray-600 text-base">987 points</p> -->
                    </div>
                    <div class="flex">
                        <mat-checkbox class="example-margin" color="primary"> </mat-checkbox>
                    </div>
                </li>
                <li class="flex items-center py-4 px-6">
                    <span class="text-gray-700 text-lg font-medium mr-4">5.</span>
                    <img class="w-12 h-12 rounded object-cover mr-4" src="assets/images/clg5.jpg" alt="User avatar">
                    <div class="flex-1">
                        <h3 class="text-lg font-medium text-gray-800">Indian Institute of Management Bangalore</h3>
                        <!-- <p class="text-gray-600 text-base">987 points</p> -->
                    </div>
                    <div class="flex">
                        <mat-checkbox class="example-margin" color="primary"> </mat-checkbox>
                    </div>
                </li>
            </ul>
            <div class="pagnation-col">
                <ul class="pagniatn-ul">
                    <li> <a class="ripple">
                            <mat-icon svgIcon="mat_solid:arrow_back_ios" class=" p-1 text-primary"></mat-icon>
                        </a>
                    </li>
                    <li>
                        <a class="ripple">1</a>
                    </li>
                    <li>
                        <a class="ripple active" href="javascript:void(0);">2</a>
                    </li>
                    <li>
                        <a class="ripple" href="javascript:void(0);">3</a>
                    </li>
                    <li>
                        <a class="ripple" href="javascript:void(0);">4</a>
                    </li>
                    <li>
                        <a class="ripple" href="javascript:void(0);">5</a>
                    </li>
                    <li>
                        <a class="ripple" href="javascript:void(0);">
                            <mat-icon svgIcon="mat_solid:arrow_forward_ios" class=" text-primary p-1"></mat-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-6">
            <button mat-raised-button color="primary" class="px-8 justify-center" routerLink="/comparison">Compare
                Colleges</button>
        </div>


    </div>
</div>