<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <!-- <div >
          <img class="h-40 lg:h-80 object-cover" src="assets/images/clg5.jpg">
      </div> -->

        <!-- User info -->
        <!-- <div class="flex flex-col flex-0 lg:flex-row items-center max-w-7xl w-full mx-auto px-8 lg:h-22 bg-card"> -->

        <!-- Avatar -->
        <!-- <div class="-mt-26 lg:-mt-22 rounded shadow border-4">
           
          </div> -->
        <!-- </div> -->

    </div>

    <div class="flex flex-col flex-0 lg:flex-row items-center max-w-7xl w-full mx-auto ">
        <!-- <div class="sm:grid md:grid-cols-3 lg:grid-cols-3 gap-6 w-full min-w-0">
                    <div class="flex flex-col col-span-2 flex-auto min-w-0"> -->

        <mat-accordion class="clgCompAcc">
            <!-- <mat-expansion-panel *ngFor="let item of FAQsOfClgArr">
                <mat-expansion-panel-header class="h-12">
                    <mat-panel-title>
                        <div class="py-2">
                            <h1 class="font-semibold">Q: {{item.question}}</h1>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p [innerHTML]="item.answere"></p>
            </mat-expansion-panel> -->
            <!-- <mat-expansion-panel>
                <mat-expansion-panel-header class="h-12">
                    <mat-panel-title>
                        <div class="py-2">
                            <h1 class="font-semibold">Q: What are the pros and cons of IIT Madras for freshers?</h1>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Identified as an ‘Institute of Eminence', the Indian Institute of Technology
                    Madras (IIT Madras or IITM) was established in 1959 as a public technical
                    and research university. It is the third IIT be set up by the Government of
                    India and is autonomous in nature.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header class="h-12">
                    <mat-panel-title>
                        <div class="py-2">
                            <h1 class="font-semibold">Q: What are the pros and cons of IIT Madras for freshers?</h1>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Identified as an ‘Institute of Eminence', the Indian Institute of Technology
                    Madras (IIT Madras or IITM) was established in 1959 as a public technical
                    and research university. It is the third IIT be set up by the Government of
                    India and is autonomous in nature.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header class="h-12">
                    <mat-panel-title>
                        <div class="py-2">
                            <h1 class="font-semibold">Q: What are the pros and cons of IIT Madras for freshers?</h1>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Identified as an ‘Institute of Eminence', the Indian Institute of Technology
                    Madras (IIT Madras or IITM) was established in 1959 as a public technical
                    and research university. It is the third IIT be set up by the Government of
                    India and is autonomous in nature.
                </p>
            </mat-expansion-panel> -->
        </mat-accordion>


    </div>

</div>