<div class="sm:grid md:grid-cols-3 lg:grid-cols-3 gap-6 w-full min-w-0">
    <div class="flex flex-col col-span-2 flex-auto min-w-0">
        <div class="flex flex-col min-w-0 mt-4">
            <div class="bg-card rounded pt-6" *ngIf="latest_blogsArr !='' && popular_blogsArr!= ''">
                <mat-tab-group>
                    <mat-tab label="Latest Articles" *ngIf="latest_blogsArr !=''">
                        <div class="sm:grid md:grid-cols-2 lg:grid-cols-2 gap-4 w-full min-w-0">
                            <!-- <div class="flex flex-col flex-auto min-w-0"  > -->
                            <div class="flex" *ngFor="let item of latest_blogsArr">
                                <!-- <div class="flex flex-col mt-2"> -->
                                <!-- <div class="flex"> -->
                                <img class="w-20 h-20 mr-4 mt-1 rounded object-cover" [src]="item.image"
                                    alt="Card cover image">
                                <div class=" min-w-0">
                                    <div class="font-medium leading-normal" class="text-primary article"
                                        class="cursor-pointer" (click)="getArticleDetails(item.id)">{{item.title}}</div>
                                    <div *ngIf="item.updated_date!= ''" class="text-sm truncate leading-none mt-1">
                                        {{item?.updated_date}}</div>
                                    <div *ngIf="item.updated_date== ''" class="text-sm truncate leading-none mt-1">
                                        {{item?.created_date}}</div>
                                    <div class="text-md flex items-center leading-none text-secondary mt-2">
                                        <mat-icon svgIcon="mat_solid:remove_red_eye"
                                            class="icon-size-4 mr-1"></mat-icon>{{item.views}} Views
                                    </div>
                                </div>

                            </div>

                        </div>
                    </mat-tab>

                    <mat-tab label="Popular Articles" *ngIf="popular_blogsArr !=''">
                        <div class="sm:grid md:grid-cols-2 lg:grid-cols-2 gap-4 w-full min-w-0">
                            <!-- <div class="flex flex-col flex-auto min-w-0">
                                <div>
                                    <div class="flex flex-col mt-2"> -->
                            <div class="flex" *ngFor="let item of popular_blogsArr">
                                <img class="w-20 h-20 mr-4 mt-1 rounded object-cover" [src]="item.image"
                                    alt="Card cover image">
                                <div class="flex flex-col min-w-0">
                                    <div class="font-medium leading-normal" class="text-primary article"
                                        class="cursor-pointer" (click)="getArticleDetails(item.id)">{{item.title}}</div>
                                    <div *ngIf="item.updated_date!= ''" class="text-sm truncate leading-none mt-1">
                                        {{item?.updated_date}}</div>
                                    <div *ngIf="item.updated_date== ''" class="text-sm truncate leading-none mt-1">
                                        {{item?.created_date}}</div>
                                    <div class="text-md flex items-center leading-none text-secondary mt-2">
                                        <mat-icon svgIcon="mat_solid:remove_red_eye"
                                            class="icon-size-4 mr-1"></mat-icon> {{item.views}} Views
                                        <!-- <mat-icon
                                                        svgIcon="mat_solid:share"
                                                        class="icon-size-4 mr-1 ml-2"></mat-icon> 1.6K Shares -->
                                    </div>
                                </div>
                            </div>

                        </div>

                    </mat-tab>
                </mat-tab-group>
            </div>

            <div class="bg-card rounded p-4 mt-4">
                <h1 class="text-xl font-semibold">Average rating of this institute</h1>
                <div class="sm:grid md:grid-cols-3 lg:grid-cols-3 gap-4 w-full min-w-0 border-t mt-3 pt-3">
                    <div class="flex flex-col flex-auto min-w-0 text-center">
                        <h1 class="font-semibold mt-4">Overall Rating <span class="font-normal text-secondary">(Out of
                                5)</span></h1>
                        <h1 class="font-bold text-4xl my-2">{{totalRateCount}}</h1>
                        <div class="reviewrate">
                            <mat-icon *ngFor="let star of generateStars(totalRateCount)" [svgIcon]="star"></mat-icon>
                        </div>
                        <p class="text-md text-secondary">Based on 45 Verified Reviews</p>
                    </div>

                    <div class="flex flex-col self-center flex-auto min-w-0" style="line-height: 2;">
                        <div class="flex items-center justify-between"><span class="block w-18"> >4-5 star
                            </span><span><mat-progress-bar mode="determinate" [value]="four2fiveRate"
                                    class="w-28 mx-2"></mat-progress-bar></span>
                            <span class="block w-10">{{four2fiveRate}}%</span>
                        </div>
                        <div class="flex items-center justify-between"><span class="block w-18"> >3-4 star
                            </span><span><mat-progress-bar mode="determinate" [value]="three2fourRate"
                                    class="w-28 mx-2"></mat-progress-bar></span>
                            <span class="block w-10">{{three2fourRate}}%</span>
                        </div>
                        <div class="flex items-center justify-between"><span class="block w-18"> >2-3 star
                            </span><span><mat-progress-bar mode="determinate" [value]="two2threeRate"
                                    class="w-28 mx-2"></mat-progress-bar></span>
                            <span class="block w-10">{{two2threeRate}}%</span>
                        </div>
                        <div class="flex items-center justify-between"><span class="block w-18"> 1-2 star
                            </span><span><mat-progress-bar mode="determinate" [value]="one2twoRate"
                                    class="w-28 mx-2"></mat-progress-bar></span>
                            <span class="block w-10">{{one2twoRate}}%</span>
                        </div>
                    </div>

                    <div class="flex flex-col flex-auto min-w-0 text-center comRating">
                        <h1 class="font-semibold mb-3 ">Component Ratings <span class="font-normal text-secondary">(Out
                                of 5)</span></h1>

                        <div class="flex items-center justify-between text-sm "><span> Placements</span>
                            <span class="flex items-center">{{totalPlacementRateCount}}
                                <mat-icon *ngFor="let star of generateStars(totalPlacementRateCount)"
                                    [svgIcon]="star"></mat-icon>
                            </span>
                        </div>
                        <div class="flex items-center justify-between  text-sm "><span> Infrastructure</span>
                            <span class="flex items-center">{{totalInfrastructureRateCount}}
                                <mat-icon *ngFor="let star of generateStars(totalPlacementRateCount)"
                                    [svgIcon]="star"></mat-icon>
                            </span>
                        </div>
                        <div class="flex items-center justify-between text-sm "><span> Faculty & Course </span>
                            <span class="flex items-center">{{totalFacultyRateCount }}
                                <mat-icon *ngFor="let star of generateStars(totalFacultyRateCount)"
                                    [svgIcon]="star"></mat-icon>
                            </span>
                        </div>
                        <div class="flex items-center justify-between text-sm "><span> Crowd & Campus Life</span>
                            <span class="flex items-center">{{totalCampusRateCount }}
                                <mat-icon *ngFor="let star of generateStars(totalCampusRateCount)"
                                    [svgIcon]="star"></mat-icon>
                            </span>
                        </div>
                        <div class="flex items-center justify-between text-sm "><span> Value for Money</span>
                            <span class="flex items-center">{{totalMoneyRateCount}}
                                <mat-icon *ngFor="let star of generateStars(totalMoneyRateCount)"
                                    [svgIcon]="star"></mat-icon>
                            </span>
                        </div>

                    </div>
                </div>
                <p class="verifyuser mt-4 text-sm border-t pt-2">The <mat-icon svgIcon="mat_solid:verified_user"
                        class="text-green-500"></mat-icon> Verified badge indicates that the reviewer's details have
                    been verified by OhCampus, and reviewers are bona fide students of this college. These reviews and
                    ratings have been given by students. OhCampus does not endorse the same. Out of 60 published
                    reviews,
                    45 reviews are verified.</p>
            </div>

            <div class="bg-card rounded mt-4 p-4" *ngIf="reviewsssArr !=''">
                <h1 class="text-xl font-semibold mb-4">What students say about {{collegename}}</h1>
                <mat-tab-group>
                    <mat-tab label="Placements">
                        <div>
                            <!-- <h1 class="text-lg font-semibold flex"><mat-icon svgIcon="mat_solid:circle"
                                    class="font-size-5 text-green-500 mr-2"></mat-icon> Likes</h1> -->
                            <ul class="ullist">
                                <li *ngFor="let item of reviewsssArr">{{item.placement_desc}}<span
                                        class="text-md text-secondary"></span></li>
                            </ul>
                        </div>
                    </mat-tab>
                    <mat-tab label="Infrastructure">
                        <div>
                            <!-- <h1 class="text-lg font-semibold flex"><mat-icon svgIcon="mat_solid:circle"
                                    class="font-size-5 text-green-500 mr-2"></mat-icon> Likes</h1> -->
                            <ul class="ullist">
                                <li *ngFor="let item of reviewsssArr">{{item.infrastructure_desc}}<span
                                        class="text-md text-secondary"> </span></li>
                            </ul>

                        </div>
                    </mat-tab>
                    <mat-tab label="Faculty">
                        <div>
                            <!-- <h1 class="text-lg font-semibold flex"><mat-icon svgIcon="mat_solid:circle"
                                    class="font-size-5 text-green-500 mr-2"></mat-icon> Likes</h1> -->
                            <ul class="ullist">
                                <li *ngFor="let item of reviewsssArr">{{item.faculty_desc}}<span
                                        class="text-md text-secondary"> </span></li>

                            </ul>
                        </div>
                    </mat-tab>

                </mat-tab-group>
            </div>


            <div id="recoWidget_0" class="recoWidgetSection" *ngIf="popularClgByLocArr != ''">
                <div class="rwsHead mt-3 mb-5"><span class="rwsTag">Recommended Colleges</span>
                    <h2 class="rwsHeading">Explore popular similar colleges</h2>
                    <div class="flxBox editCase mA">
                        <p class="rwsHeadingSupportiveTxt font-bold">By Location</p>
                    </div>
                </div>
                <div class="rwsBody">
                    <div class="sliderBox hidden md:block lg:block">
                        <mat-carousel timings="350ms ease-in" [autoplay]="false" interval="5000" proportion="43"
                            slides="3" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
                            [useMouseWheel]="false" orientation="ltr" class="cstomslide">

                            <mat-carousel-slide *ngFor="let item of popularClgByLocArr">
                                <div class="grid grid-cols-3 gap-6 mx-6 items-center h-full">
                                    <div *ngFor="let clg of item.popularColleges; let i=index"
                                        class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow carousel-slide-content "
                                        style="height: 300px;">
                                        <div class="flex justify-between">
                                            <div class="mr-2 ">
                                                <div *ngIf="clg.image !=null" class="border rounded p-1"><img
                                                        [src]="clg.image" class=" h-20"></div>
                                                <div *ngIf="clg.image ==null" class="border rounded p-1"><img
                                                        [src]="logo1" class=" h-20"></div>
                                                <div style="height: 100px; font-size: 13px;">
                                                    <!-- <h2 class="font-medium mt-2">{{clg.title}} </h2> -->
                                                      <a [routerLink]="['/collegeDetails', clg.collegeid]"
                                                            class="text-blue-600 hover:underline cursor-pointer">
                                                            {{ clg.title }}
                                                        </a>
                                                    <!-- <p class="cardTxtSmall">City : {{clg.cityname}}</p> -->
                                                    <p *ngIf="clg.rank != null" class="secondary-color"># NIRF :
                                                        {{clg.rank}}</p>
                                                    <!-- <p *ngIf="clg.rank == null"
                                                        class="secondary-color display-none"># NIRF : </p> -->
                                                    <p *ngIf="clg.accreditation != ''" class="cardTxtSmall"><span
                                                            class="font-medium">Accreditation
                                                            :</span>{{clg.accreditation}}</p>
                                                    <!-- <div class="font-bold">
                                                                {{ expandedStatesCourse[i] ? clg.accreditation : (clg.accreditation
                                                                | slice: 0:100) }}
                                                                <span
                                                                    *ngIf="!expandedStatesCourse[i] && clg.accreditation !=null">...</span>
                                                                <a *ngIf="!expandedStatesCourse[i] && clg.accreditation !=null"
                                                                    class="description font-bold" (click)="onShowCourse(i)">[Show
                                                                    More]</a>
                                                                <a *ngIf="expandedStatesCourse[i] && clg.accreditation !=null"
                                                                    class="description font-semibold" (click)="onShowCourse(i)">[Show
                                                                    Less]</a>
                                                            </div> -->
                                                    <!-- <p class="cardTxtSmall"><span class="font-bold">Address :</span> {{clg.address}}</p> -->
                                                </div>

                                            </div>
                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-3"
                                            (click)="getCompareTab(clg.collegeid)">
                                            Compare
                                        </button>
                                    </div>
                                    <!--
                                    <div class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow">
                                        <div class="flex justify-between">
                                            <div class="mr-2">
                                                <div class="border rounded p-1"><img src="assets/images/c1.jpg"
                                                        class="object-contain h-20"></div>
                                                <h2 class="font-semibold mt-2">IIT Bombay - Indian Institute of
                                                    Technology </h2>
                                                <p class="cardTxtSmall">B.Tech. in Computer Science and Engineering
                                                </p>

                                            </div>
                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-2"
                                            [routerLink]="['./']">
                                            Compare
                                        </button>
                                    </div>

                                    <div class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow">
                                        <div class="flex justify-between">
                                            <div class="mr-2">
                                                <div class="border rounded p-1"><img src="assets/images/c1.jpg"
                                                        class="object-contain h-20"></div>
                                                <h2 class="font-semibold mt-2">IIT Bombay - Indian
                                                    Institute of Technology
                                                </h2>
                                                <p class="cardTxtSmall">B.Tech. in Computer Science and
                                                    Engineering</p>

                                            </div>
                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-2"
                                            [routerLink]="['./']">
                                            Compare
                                        </button>
                                    </div> -->
                                </div>
                            </mat-carousel-slide>

                            <!-- <mat-carousel-slide>
                                <div class="grid grid-cols-3 gap-6 mx-6 items-center h-full">
                                    <div class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow">
                                        <div class="flex justify-between">
                                            <div class="mr-2">
                                                <div class="border rounded p-1"><img src="assets/images/c1.jpg"
                                                        class="object-contain h-20"></div>
                                                <h2 class="font-semibold mt-2">IIT Bombay - Indian
                                                    Institute of Technology
                                                </h2>
                                                <p class="cardTxtSmall">B.Tech. in Computer Science and
                                                    Engineering</p>
                                                <div class="flex flex-wrap justify-between items-center">
                                                    <span class="text-md">4.6 </span> <span>
                                                        <ul class="clgratings">
                                                            <li><mat-icon svgIcon="mat_solid:star"
                                                                    class="text-yellow-400"></mat-icon>
                                                                <mat-icon svgIcon="mat_solid:star"
                                                                    class="text-yellow-400"></mat-icon>
                                                                <mat-icon svgIcon="mat_solid:star"
                                                                    class="text-yellow-400"></mat-icon>
                                                                <mat-icon svgIcon="mat_solid:star"
                                                                    class="text-yellow-400"></mat-icon>
                                                                <mat-icon svgIcon="mat_solid:star_half"
                                                                    class="text-yellow-400"></mat-icon>
                                                            </li>
                                                        </ul>
                                                    </span> <span class="text-md">(27)</span>
                                                </div>
                                            </div>

                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-2"
                                            [routerLink]="['./']">
                                            Compare
                                        </button>
                                    </div>

                                    <div class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow">
                                        <div class="flex justify-between">
                                            <div class="mr-2">
                                                <div class="border rounded p-1"><img src="assets/images/c1.jpg"
                                                        class="object-contain h-20"></div>
                                                <h2 class="font-semibold mt-2">IIT Bombay - Indian
                                                    Institute of Technology
                                                </h2>
                                                <p class="cardTxtSmall">B.Tech. in Computer Science and
                                                    Engineering</p>
                                                <div class="flex flex-wrap justify-between items-center">
                                                    <span class="text-md">4.6 </span> <span>
                                                        <ul class="clgratings">
                                                            <li><mat-icon svgIcon="mat_solid:star"
                                                                    class="text-yellow-400"></mat-icon>
                                                                <mat-icon svgIcon="mat_solid:star"
                                                                    class="text-yellow-400"></mat-icon>
                                                                <mat-icon svgIcon="mat_solid:star"
                                                                    class="text-yellow-400"></mat-icon>
                                                                <mat-icon svgIcon="mat_solid:star"
                                                                    class="text-yellow-400"></mat-icon>
                                                                <mat-icon svgIcon="mat_solid:star_half"
                                                                    class="text-yellow-400"></mat-icon>
                                                            </li>
                                                        </ul>
                                                    </span> <span class="text-md">(27)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-2"
                                            [routerLink]="['./']">
                                            Compare
                                        </button>
                                    </div>
                                </div>
                            </mat-carousel-slide> -->

                        </mat-carousel>
                    </div>

                    <div class="sliderBox block md:hidden lg:hidden">
                        <mat-carousel timings="350ms ease-in" [autoplay]="false" interval="5000" proportion="100"
                            slides="3" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
                            [useMouseWheel]="false" orientation="ltr" class="cstomslide">

                            <mat-carousel-slide *ngFor="let item of popularClgByLocArr">
                                <div class="grid grid-cols-1 gap-6 mx-6 items-center h-full">
                                    <div *ngFor="let clg of item.popularColleges; let i=index"
                                        class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow carousel-slide-content ">
                                        <div class="flex justify-between">
                                            <div class="mr-2 ">
                                                <div class="border rounded p-1"><img [src]="clg.image" class=" h-20">
                                                </div>
                                                <div style="height: 100px; font-size: 13px;">
                                                    <h2 class="font-medium mt-2">{{clg.title}} </h2>
                                                    <!-- <p class="cardTxtSmall">City : {{clg.cityname}}</p> -->
                                                    <p *ngIf="clg.rank != null" class="secondary-color"># NIRF :
                                                        {{clg.rank}}</p>
                                                    <!-- <p *ngIf="clg.rank == null"
                                                        class="secondary-color display-none"># NIRF : </p> -->
                                                    <p *ngIf="clg.accreditation != ''" class="cardTxtSmall"><span
                                                            class="font-medium">Accreditation
                                                            :</span>{{clg.accreditation}}</p>
                                                    <!-- <div class="font-bold">
                                                                {{ expandedStatesCourse[i] ? clg.accreditation : (clg.accreditation
                                                                | slice: 0:100) }}
                                                                <span
                                                                    *ngIf="!expandedStatesCourse[i] && clg.accreditation !=null">...</span>
                                                                <a *ngIf="!expandedStatesCourse[i] && clg.accreditation !=null"
                                                                    class="description font-bold" (click)="onShowCourse(i)">[Show
                                                                    More]</a>
                                                                <a *ngIf="expandedStatesCourse[i] && clg.accreditation !=null"
                                                                    class="description font-semibold" (click)="onShowCourse(i)">[Show
                                                                    Less]</a>
                                                            </div> -->
                                                    <!-- <p class="cardTxtSmall"><span class="font-bold">Address :</span> {{clg.address}}</p> -->
                                                </div>

                                            </div>
                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-3"
                                            (click)="getCompareTab(clg.collegeid)">
                                            Compare
                                        </button>
                                    </div>

                                </div>
                            </mat-carousel-slide>

                        </mat-carousel>
                    </div>
                </div>
                <!-- <div class="flxBox mA cA my-3 px-4"><strong class="quesTxt">Is this recommendation relevant?</strong>
                    <div class="w-32 text-right">
                        <mat-icon class="whiteCrcl dislike iflxBox" svgIcon="mat_solid:thumb_up"></mat-icon>
                        <mat-icon class="whiteCrcl dislike iflxBox" svgIcon="mat_solid:thumb_down"></mat-icon>
                    </div>
                </div> -->

                <div class="flxBox mA cA my-3">
                    <strong class="quesTxt">Is this recommendation relevant?</strong>
                    <div>
                        <mat-icon class="whiteCrcl iflxBox" [class.highlight]="selectedThumb === 'up'"
                            svgIcon="mat_solid:thumb_up" (click)="selectThumb('up')">
                        </mat-icon>
                        <mat-icon class="whiteCrcl iflxBox" [class.highlight]="selectedThumb === 'down'"
                            svgIcon="mat_solid:thumb_down" (click)="selectThumb('down')">
                        </mat-icon>
                    </div>
                </div>
            </div>

            <div class="bg-card rounded mt-4 p-4" *ngFor="let item of reviewsArr">
                <div class="flex mb-3 justify-between">
                    <span class="flex">
                        <div *ngIf="item.reviewedByName!= null"
                            class="h-8 w-8 font-bold text-green-700 text-center pt-1 bg-green-200 rounded mt-1 mr-2">
                            {{item.reviewedByName.charAt(0)}}
                        </div>
                        <!-- <div class="h-8 w-8 font-bold text-green-700 text-center pt-1 bg-green-200 rounded mt-1 mr-2">N
                        </div> -->
                        <p> <span class="text-md font-medium"> {{item.reviewedByName}} </span><br>
                            <!-- <p> <span class="text-md font-medium" *ngIf="item.user_name ==null"> No</span><br> -->
                            <span class="text-sm">{{item.coursename}}</span>
                        </p>
                    </span>
                    <div>
                        <p class="flex items-center"><mat-icon svgIcon="mat_solid:verified_user"
                                class="text-green-500 icon-size-5 mr-1"></mat-icon> Verified </p>
                    </div>
                </div>
                <div class="shortRiew">
                    <span><mat-icon svgIcon="mat_solid:star"></mat-icon> {{item.placement_rate}} Placements</span>
                    <span><mat-icon svgIcon="mat_solid:star"></mat-icon> {{item.infrastructure_rate}}
                        Infrastructure</span>
                    <span><mat-icon svgIcon="mat_solid:star"></mat-icon> {{item.faculty_rate}} Faculty</span>
                    <span><mat-icon svgIcon="mat_solid:star"></mat-icon> {{item.campus_rate}} Crowd & Campus Life</span>
                    <span><mat-icon svgIcon="mat_solid:star"></mat-icon> {{item.money_rate}} Value for Money</span>
                </div>
                <p class="text-xl font-semibold my-3">{{item.title}}</p>
                <p>
                    <span class="font-semibold text-lg">Placements: </span> {{item.placement_desc}}
                </p>
                <p><span class="font-semibold text-lg">Infrastructure: </span> {{item.infrastructure_desc}}.</p>
                <p><span class="font-semibold text-lg">Faculty: </span> {{item.faculty_desc}}</p>
                <p><span class="font-semibold text-lg">Campus Life: </span> {{item.campus_desc}}</p>
                <p><span class="font-semibold text-lg">Value For Money: </span> {{item.money_desc}}</p>

                <div class="mt-2 pt-2 border-t border-dashed">
                    <span class="flex justify-end items-center text-lg font-normal"><mat-icon
                            svgIcon="mat_outline:share" class="icon-size-5 ml-1"></mat-icon> Share</span>
                </div>
            </div>

            <div id="recoWidget_0" class="recoWidgetSection" *ngIf="CollegesAccordingCategoryArr != ''">
                <div class="rwsHead mt-3 mb-5"><span class="rwsTag">Popular Colleges</span>
                    <h2 class="rwsHeading">Best-suited colleges for you</h2>
                    <div class="flxBox editCase mA">
                        <p class="rwsHeadingSupportiveTxt">Because you showed interest in {{category}} at
                            {{collegename}}</p>
                    </div>
                </div>
                <div class="rwsBody">
                    <div class="sliderBox hidden md:block lg:block">
                        <mat-carousel timings="350ms ease-in" [autoplay]="false" interval="5000" proportion="38"
                            slides="3" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
                            [useMouseWheel]="false" orientation="ltr" class="cstomslide">

                            <mat-carousel-slide *ngFor="let item of CollegesAccordingCategoryArr">
                                <div class="grid grid-cols-3 gap-6 mx-6 items-center h-full">
                                    <div *ngFor="let college of item.bestColleges" style="height: 270px;"
                                        class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow carousel-slide-content">
                                        <div class="flex justify-between">
                                            <div class="mr-2">
                                                <div class="border rounded p-1"><img [src]="college.image"
                                                        class=" h-20"></div>
                                                <div style="height: 90px; font-size: 13px;">
                                                    <h2 class="font-medium mt-2">{{college.title}}</h2>
                                                    <p *ngIf="college.accreditation != ''" class=""> <span
                                                            class="font-medium">Accreditation
                                                            :</span>{{college.accreditation}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-2"
                                            (click)="getCompareTab(college.id)">
                                            Compare
                                        </button>
                                    </div>

                                    <!-- <div class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow">
                                        <div class="flex justify-between">
                                            <div class="mr-2">
                                                <div class="border rounded p-1"><img src="assets/images/c1.jpg"
                                                        class="object-contain h-20"></div>
                                                <h2 class="font-semibold mt-2">IIT Bombay - Indian
                                                    Institute of Technology
                                                </h2>
                                                <p class="cardTxtSmall">B.Tech. in Computer Science and
                                                    Engineering</p>
                                            </div>
                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-2"
                                            [routerLink]="['./']">
                                            Compare
                                        </button>
                                    </div>

                                    <div class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow">
                                        <div class="flex justify-between">
                                            <div class="mr-2">
                                                <div class="border rounded p-1"><img src="assets/images/c1.jpg"
                                                        class="object-contain h-20"></div>
                                                <h2 class="font-semibold mt-2">IIT Bombay - Indian
                                                    Institute of Technology
                                                </h2>
                                                <p class="cardTxtSmall">B.Tech. in Computer Science and
                                                    Engineering</p>

                                            </div>

                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-2"
                                            [routerLink]="['./']">
                                            Compare
                                        </button>
                                    </div> -->
                                </div>
                            </mat-carousel-slide>



                        </mat-carousel>
                    </div>
                    <div class="sliderBox block md:hidden lg:hidden">
                        <mat-carousel timings="350ms ease-in" [autoplay]="false" interval="5000" proportion="90"
                            slides="3" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
                            [useMouseWheel]="false" orientation="ltr" class="cstomslide">

                            <mat-carousel-slide *ngFor="let item of CollegesAccordingCategoryArr">
                                <div class="grid grid-cols-1 gap-6 mx-6 items-center h-full">
                                    <div *ngFor="let college of item.bestColleges"
                                        class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow carousel-slide-content">
                                        <div class="flex justify-between">
                                            <div class="mr-2">
                                                <div class="border rounded p-1"><img [src]="college.image"
                                                        class=" h-20"></div>
                                                <div style="height: 90px; font-size: 13px;">
                                                    <h2 class="font-medium mt-2">{{college.title}}</h2>
                                                    <p *ngIf="college.accreditation != ''" class=""> <span
                                                            class="font-medium">Accreditation
                                                            :</span>{{college.accreditation}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-2"
                                            (click)="getCompareTab(college.id)">
                                            Compare
                                        </button>
                                    </div>

                                </div>
                            </mat-carousel-slide>
                        </mat-carousel>
                    </div>
                </div>
                <!-- <div class="flxBox mA cA my-3 px-4"><strong class="quesTxt">Is this recommendation relevant?</strong>
                    <div class="w-32 text-right">
                        <mat-icon class="whiteCrcl dislike iflxBox" svgIcon="mat_solid:thumb_up"></mat-icon>
                        <mat-icon class="whiteCrcl dislike iflxBox" svgIcon="mat_solid:thumb_down"></mat-icon>
                    </div>
                </div> -->

                <div class="flxBox mA cA my-3">
                    <strong class="quesTxt">Is this recommendation relevant?</strong>
                    <div>
                        <mat-icon class="whiteCrcl iflxBox" [class.highlight]="selectedThumb === 'up'"
                            svgIcon="mat_solid:thumb_up" (click)="selectThumb('up')">
                        </mat-icon>
                        <mat-icon class="whiteCrcl iflxBox" [class.highlight]="selectedThumb === 'down'"
                            svgIcon="mat_solid:thumb_down" (click)="selectThumb('down')">
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="askQ">
            <div class="rwsHead mt-3 mb-5"><span class="rwsTag">{{collegename}}</span>
                <h2 class="rwsHeading">Student Forum</h2>
                <form [formGroup]="studentForum">
                    <div class="whiteWrapBox font-semibold"><mat-icon svgIcon="mat_solid:edit"
                            class="relative top-1 icon-size-5 text-primary"></mat-icon> Anything you would want to ask
                        experts?
                        <div class="mt-2">
                            <input matInput placeholder="write here" formControlName="studentque">
                        </div>
                        <p class="border-t border-gray-300 my-4">
                            <button class="mt-2 secondaryButton ml-auto" mat-stroked-button
                                (click)="postQuestion()">Submit
                            </button>
                    </div>
                </form>
            </div>
        </div>



    </div>
    <!-- left box end -->
    <div class="flex flex-col flex-auto min-w-0">
        <div>
            <div class="bg-card rounded pb-2" *ngIf="campusImagesArr !=''">
                <h1 class="text-lg font-medium p-4 py-2 bg-primary-200 rounded-tl rounded-tr"> Photos & Videos </h1>
                <mat-carousel timings="350ms ease-in" [autoplay]="false" interval="5000" color="#000" background="#fff"
                    maxWidth="auto" proportion="40" slides="3" [loop]="true" [hideArrows]="false"
                    [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr"
                    style="background: #fff;" class="cstomslide">

                    <mat-carousel-slide *ngFor="let item of campusImagesArr">
                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 ml-2">
                            <div class="p-3 " *ngFor="let college of item">
                                <img [src]="college.image" (click)="openImageDialog(college.image)"
                                    class="rounded-lg h-30">
                            </div>
                        </div>
                    </mat-carousel-slide>
                </mat-carousel>
            </div>

            <div class="flex flex-col min-w-0 mt-4" *ngIf="NotificationArr != ''">
                <div class="bg-card rounded">
                    <h1 class="text-lg font-medium p-4 py-2 bg-primary-200 rounded-tl rounded-tr"> {{collegename}}
                        Notifications</h1>
                    <ul class="p-4 leading-8 secondary-color">
                        <li class="border-b mb-3 cursor-pointer " *ngFor="let item of NotificationArr"
                            (click)="getExamDetails(item.examId)">{{item.notification}}</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="popcenter">
        <ng-template #callAPIDialog1>
            <div class="flex flex-auto justify-between overflow-hidden relative ">
                <h2 matDialogTitle class="font-medium text-xl"></h2>
            </div>
            <div class="p-6 overflow-hidden max-w-full" style="width: 50vw;">
                <mat-icon svgIcon="mat_outline:close"
                    style="color: red; cursor: pointer; position: absolute; z-index: 111;  left: 74%;"
                    matDialogClose="yes" (click)="close()"></mat-icon>
                <div class="max-w-10xl">
                    <img style="height: 270px;" class="position-relative shadow-sm maxwh cursorpointer" title=""
                        src="{{image}} " accept="image" />
                </div>
            </div>
        </ng-template>
    </div>
</div>