<div class="sm:grid md:grid-cols-3 lg:grid-cols-3 gap-6 w-full min-w-0">
    <div class="flex flex-col col-span-2 flex-auto min-w-0">
        <div class="flex flex-col min-w-0 mt-4">
            <div class="bg-card rounded p-4">
                <h1 class="text-xl font-semibold">Average rating of this institute</h1>
                <div class="sm:grid md:grid-cols-3 lg:grid-cols-3 gap-4 w-full min-w-0 border-t mt-3 pt-3">
                    <div class="flex flex-col flex-auto min-w-0 text-center">
                        <h1 class="font-semibold mt-4">Overall Rating <span class="font-normal text-secondary">(Out of
                                5)</span></h1>
                        <h1 class="font-bold text-4xl my-2">{{totalRateCount}}</h1>
                        <div class="reviewrate">
                            <mat-icon *ngFor="let star of generateStars(totalRateCount)" [svgIcon]="star"></mat-icon>
                        </div>
                        <p class="text-md text-secondary">Based on 45 Verified Reviews</p>
                    </div>

                    <div class="flex flex-col self-center flex-auto min-w-0" style="line-height: 2;">
                        <div class="flex items-center justify-between"><span class="block w-18"> >4-5 star
                            </span><span><mat-progress-bar mode="determinate" [value]="four2fiveRate"
                                    class="w-28 mx-2"></mat-progress-bar></span>
                            <span class="block w-10">{{four2fiveRate}}%</span>
                        </div>
                        <div class="flex items-center justify-between"><span class="block w-18"> >3-4 star
                            </span><span><mat-progress-bar mode="determinate" [value]="three2fourRate"
                                    class="w-28 mx-2"></mat-progress-bar></span>
                            <span class="block w-10">{{three2fourRate}}%</span>
                        </div>
                        <div class="flex items-center justify-between"><span class="block w-18"> >2-3 star
                            </span><span><mat-progress-bar mode="determinate" [value]="two2threeRate"
                                    class="w-28 mx-2"></mat-progress-bar></span>
                            <span class="block w-10">{{two2threeRate}}%</span>
                        </div>
                        <div class="flex items-center justify-between"><span class="block w-18"> 1-2 star
                            </span><span><mat-progress-bar mode="determinate" [value]="one2twoRate"
                                    class="w-28 mx-2"></mat-progress-bar></span>
                            <span class="block w-10">{{one2twoRate}}%</span>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto min-w-0 text-center comRating">
                        <h1 class="font-semibold mb-3 ">Component Ratings <span class="font-normal text-secondary">(Out
                                of 5)</span></h1>

                        <div class="flex items-center justify-between text-sm "><span> Placements</span>
                            <span class="flex items-center">{{totalPlacementRateCount}}
                                <mat-icon *ngFor="let star of generateStars(totalPlacementRateCount)"
                                    [svgIcon]="star"></mat-icon>

                            </span>
                        </div>
                        <div class="flex items-center justify-between  text-sm "><span> Infrastructure</span>
                            <span class="flex items-center">{{totalInfrastructureRateCount}}
                                <mat-icon *ngFor="let star of generateStars(totalPlacementRateCount)"
                                    [svgIcon]="star"></mat-icon>

                            </span>
                        </div>
                        <div class="flex items-center justify-between text-sm "><span> Faculty & Course </span>
                            <span class="flex items-center">{{totalFacultyRateCount }}
                                <mat-icon *ngFor="let star of generateStars(totalFacultyRateCount)"
                                    [svgIcon]="star"></mat-icon>
                            </span>
                        </div>
                        <div class="flex items-center justify-between text-sm "><span> Crowd & Campus Life</span>
                            <span class="flex items-center">{{totalCampusRateCount }}
                                <mat-icon *ngFor="let star of generateStars(totalCampusRateCount)"
                                    [svgIcon]="star"></mat-icon>

                            </span>
                        </div>
                        <div class="flex items-center justify-between text-sm "><span> Value for Money</span>
                            <span class="flex items-center">{{totalMoneyRateCount}}
                                <mat-icon *ngFor="let star of generateStars(totalMoneyRateCount)"
                                    [svgIcon]="star"></mat-icon>
                            </span>
                        </div>
                    </div>
                </div>
                <p class="verifyuser mt-4 text-sm border-t pt-2">The <mat-icon svgIcon="mat_solid:verified_user"
                        class="text-green-500"></mat-icon> Verified badge indicates that the reviewer's details have
                    been verified by OhCampus, and reviewers are bona fide students of this college. These reviews and
                    ratings have been given by students. OhCampus does not endorse the same. Out of 60 published
                    reviews,
                    45 reviews are verified.</p>
            </div>

            <div class="bg-card rounded mt-4 p-4" *ngIf="reviewsArr !=''">
                <h1 class="text-xl font-semibold mb-4">What students say about {{collegename}}</h1>

                <mat-tab-group>
                    <mat-tab *ngFor="let label of tabLabels" [label]="label">
                        <div>
                            <!-- <h1 class="text-lg font-semibold flex">
                                <mat-icon svgIcon="mat_solid:circle" class="font-size-5 text-green-500 mr-2"></mat-icon>
                                Likes
                            </h1> -->
                            <ng-container *ngFor="let review of reviewsArr">
                                <!-- Check if the review corresponds to the current tab -->
                                <div *ngIf="review[label.toLowerCase() + '_desc']">
                                    <ul class="ullist">
                                        <!-- Display review data -->
                                        <li>{{ review[label.toLowerCase() + '_desc'] }}</li>
                                    </ul>
                                    <!-- <div class="border-t pt-3 flex items-center justify-between w-full">
                              Add your like and share buttons here
                            </div> -->
                                </div>
                            </ng-container>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>

            <div id="recoWidget_0" class="recoWidgetSection" *ngIf="popularClgByLocArr != ''">
                <div class="rwsHead mt-3 mb-5"><span class="rwsTag">Recommended Colleges</span>
                    <h2 class="rwsHeading">Explore popular similar colleges</h2>
                    <div class="flxBox editCase mA">
                        <p class="rwsHeadingSupportiveTxt font-bold">By Location</p>
                    </div>
                </div>
                <div class="rwsBody">
                    <div class="sliderBox hidden md:block lg:block">
                        <mat-carousel timings="350ms ease-in" [autoplay]="false" interval="5000" proportion="43"
                            slides="3" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
                            [useMouseWheel]="false" orientation="ltr" class="cstomslide">

                            <mat-carousel-slide *ngFor="let item of popularClgByLocArr">
                                <div class="grid grid-cols-3 gap-6 mx-6 items-center h-full">
                                    <div *ngFor="let clg of item.popularColleges; let i=index"
                                        class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow carousel-slide-content "
                                        style="height: 300px;">
                                        <div class="flex justify-between">
                                            <div class="mr-2 ">
                                                <div *ngIf="clg.image !=null" class="border rounded p-1"><img
                                                        [src]="clg.image" class=" h-20"></div>
                                                <div *ngIf="clg.image ==null" class="border rounded p-1"><img
                                                        [src]="logo1" class=" h-20"></div>
                                                <div style="height: 100px; font-size: 13px;">
                                                    <!-- <h2 class="font-medium mt-2">{{clg.title}} </h2> -->
                                                      <a [routerLink]="['/collegeDetails', clg.collegeid]"
                                                            class="text-blue-600 hover:underline cursor-pointer">
                                                            {{ clg.title }}
                                                        </a>
                                                    <!-- <p class="cardTxtSmall">City : {{clg.cityname}}</p> -->
                                                    <p *ngIf="clg.rank != null" class="secondary-color"># NIRF :
                                                        {{clg.rank}}</p>
                                                    <!-- <p *ngIf="clg.rank == null"
                                                        class="secondary-color display-none"># NIRF : </p> -->
                                                    <p *ngIf="clg.accreditation != ''" class="cardTxtSmall"><span
                                                            class="font-medium">Accreditation
                                                            :</span>{{clg.accreditation}}</p>
                                                </div>

                                            </div>
                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-3"
                                            (click)="getCompareTab(clg.collegeid)">
                                            Compare
                                        </button>
                                    </div>
                                </div>
                            </mat-carousel-slide>

                        </mat-carousel>
                    </div>

                    <div class="sliderBox block md:hidden lg:hidden">
                        <mat-carousel timings="350ms ease-in" [autoplay]="false" interval="5000" proportion="95"
                            slides="3" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
                            [useMouseWheel]="false" orientation="ltr" class="cstomslide">
                            <mat-carousel-slide *ngFor="let item of popularClgByLocArr">
                                <div class="grid grid-cols-1 gap-6 mx-6 items-center h-full">
                                    <div *ngFor="let clg of item.popularColleges; let i=index"
                                        class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow carousel-slide-content ">
                                        <div class="flex justify-between">
                                            <div class="mr-2 ">
                                                <div class="border rounded p-1"><img [src]="clg.image" class=" h-20">
                                                </div>
                                                <div style="height: 100px; font-size: 13px;">
                                                    <h2 class="font-medium mt-2">{{clg.title}} </h2>
                                                    <p *ngIf="clg.rank != null" class="secondary-color"># NIRF :
                                                        {{clg.rank}}</p>
                                                    <p *ngIf="clg.accreditation != ''" class="cardTxtSmall"><span
                                                            class="font-medium">Accreditation
                                                            :</span>{{clg.accreditation}}</p>
                                                </div>

                                            </div>
                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-3"
                                            (click)="getCompareTab(clg.collegeid)">
                                            Compare
                                        </button>
                                    </div>

                                </div>
                            </mat-carousel-slide>


                        </mat-carousel>
                    </div>
                </div>
                <!-- <div class="flxBox mA cA my-3 px-4 sm:px-0 md:px-0"><strong class="quesTxt">Is this recommendation
                        relevant?</strong>
                    <div class="w-32 text-right">
                        <mat-icon class="whiteCrcl dislike iflxBox" svgIcon="mat_solid:thumb_up"></mat-icon>
                        <mat-icon class="whiteCrcl dislike iflxBox" svgIcon="mat_solid:thumb_down"></mat-icon>
                    </div>
                </div> -->
                <div class="flxBox mA cA my-3">
                    <strong class="quesTxt">Is this recommendation relevant?</strong>
                    <div>
                        <mat-icon class="whiteCrcl iflxBox" [class.highlight]="selectedThumb === 'up'"
                            svgIcon="mat_solid:thumb_up" (click)="selectThumb('up')">
                        </mat-icon>
                        <mat-icon class="whiteCrcl iflxBox" [class.highlight]="selectedThumb === 'down'"
                            svgIcon="mat_solid:thumb_down" (click)="selectThumb('down')">
                        </mat-icon>
                    </div>
                </div>
            </div>

            <div class="bg-card rounded mt-4 p-4" *ngFor="let item of reviewsArr">
                <div class="flex mb-3 justify-between">
                    <span class="flex">
                        <div *ngIf="item.reviewedByName != null"
                            class="h-8 w-8 font-bold text-green-700 text-center pt-1 bg-green-200 rounded mt-1 mr-2">
                            {{item.reviewedByName.charAt(0)}}
                        </div>
                        <!-- <div class="h-8 w-8 font-bold text-green-700 text-center pt-1 bg-green-200 rounded mt-1 mr-2">N
                        </div> -->
                        <p> <span class="text-md font-medium"> {{item.reviewedByName}} </span><br>
                            <!-- <p> <span class="text-md font-medium" *ngIf="item.user_name ==null"> No</span><br> -->
                            <span class="text-sm">{{item.coursename}}</span>
                        </p>
                    </span>
                    <div>
                        <p class="flex items-center"><mat-icon svgIcon="mat_solid:verified_user"
                                class="text-green-500 icon-size-5 mr-1"></mat-icon> Verified </p>
                    </div>
                </div>
                <div class="shortRiew">
                    <span><mat-icon svgIcon="mat_solid:star"></mat-icon> {{item.placement_rate}} Placements</span>
                    <span><mat-icon svgIcon="mat_solid:star"></mat-icon> {{item.infrastructure_rate}}
                        Infrastructure</span>
                    <span><mat-icon svgIcon="mat_solid:star"></mat-icon> {{item.faculty_rate}} Faculty</span>
                    <span><mat-icon svgIcon="mat_solid:star"></mat-icon> {{item.campus_rate}} Crowd & Campus Life</span>
                    <span><mat-icon svgIcon="mat_solid:star"></mat-icon> {{item.money_rate}} Value for Money</span>
                </div>
                <p class="text-xl font-semibold my-3">{{item.title}}</p>
                <p>
                    <span class="font-semibold text-lg">Placements: </span> {{item.placement_desc}}
                </p>
                <p><span class="font-semibold text-lg">Infrastructure: </span> {{item.infrastructure_desc}}.</p>
                <p><span class="font-semibold text-lg">Faculty: </span> {{item.faculty_desc}}</p>
                <p><span class="font-semibold text-lg">Campus Life: </span> {{item.campus_desc}}</p>
                <p><span class="font-semibold text-lg">Value For Money: </span> {{item.money_desc}}</p>

                <div class="mt-2 pt-2 border-t border-dashed flex">
                    <span class="flex flex-wrap">Was this review helpful
                        <!-- <p class="ml-2 text-primary cursor-pointer"  (click)="voteReview(item.review_id,item.user_id,0)">
                            Yes</p>
                        &nbsp; |
                        <p class="ml-2 text-primary cursor-pointer" (click)="voteReview(item.review_id,item.user_id,1)">
                            No</p> -->
                        <p class="cursor-pointer mx-1"
                            [ngClass]="item.vote === 0 ? 'text-blue-600 font-semibold' : 'text-gray-500'"
                            (click)="onVote(item, 0)">
                            Yes
                        </p>

                        <span class="text-gray-400 mr-1">|</span>

                        <!-- No -->
                        <p class="cursor-pointer"
                            [ngClass]="item.vote === 1 ? 'text-blue-600 font-semibold' : 'text-gray-500'"
                            (click)="onVote(item, 1)">
                            No
                        </p>
                    </span>
                    <button [matMenuTriggerFor]="shareMenu"
                        class="flex ml-auto items-center text-lg font-normal"><mat-icon svgIcon="mat_outline:share"
                            class="icon-size-5 ml-1"></mat-icon> Share</button>
                    <mat-menu #shareMenu="matMenu" class="share-btn">
                        <button mat-menu-item (click)="shareOnWhatsApp(collegeId)">
                            <a class="icon-link whatsapp"><i class="fab fa-whatsapp"></i>
                                <p class="ml-2" style="font-size: 15px;"> Whatsapp </p>
                            </a>
                        </button>

                        <button mat-menu-item (click)="shareOnFacebook(collegeId)">
                            <a class="icon-link facebook"><i class="fab fa-facebook"></i>
                                <p class="ml-2" style="font-size: 15px;"> Facebook </p>
                            </a>
                        </button>

                        <button mat-menu-item (click)="shareOnTwitter(collegeId)">
                            <a class="icon-link twitter"><i class="fab fa-twitter"></i>
                                <p class="ml-2" style="font-size: 15px;"> Twitter </p>
                            </a>
                        </button>

                        <button mat-menu-item (click)="shareOnLinkedin(collegeId)">
                            <a class="icon-link linkedin"><i class="fab fa-linkedin"></i>
                                <p class="ml-2" style="font-size: 15px;"> Linkedin </p>
                            </a>
                        </button>
                    </mat-menu>
                </div>
            </div>

            <div id="recoWidget_0" class="recoWidgetSection" *ngIf="CollegesAccordingCategoryArr != ''">
                <div class="rwsHead mt-3 mb-5"><span class="rwsTag">Popular Colleges</span>
                    <h2 class="rwsHeading">Best-suited colleges for you</h2>
                    <div class="flxBox editCase mA">
                        <p class="rwsHeadingSupportiveTxt">Because you showed interest in {{category}} at
                            {{collegename}}</p>
                    </div>
                </div>
                <div class="rwsBody">
                    <div class="sliderBox hidden md:block lg:block">
                        <mat-carousel timings="350ms ease-in" [autoplay]="false" interval="5000" proportion="38"
                            slides="3" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
                            [useMouseWheel]="false" orientation="ltr" class="cstomslide">

                            <mat-carousel-slide *ngFor="let item of CollegesAccordingCategoryArr">
                                <div class="grid grid-cols-3 gap-6 mx-6 items-center h-full">
                                    <div *ngFor="let college of item.bestColleges" style="height: 270px;"
                                        class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow carousel-slide-content">
                                        <div class="flex justify-between">
                                            <div class="mr-2">
                                                <div class="border rounded p-1"><img [src]="college.image"
                                                        class=" h-20"></div>
                                                <div style="height: 90px; font-size: 13px;">
                                                    <h2 class="font-medium mt-2">{{college.title}}</h2>
                                                    <p *ngIf="college.accreditation != ''" class=""> <span
                                                            class="font-medium">Accreditation
                                                            :</span>{{college.accreditation}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-2"
                                            (click)="getCompareTab(college.id)">
                                            Compare
                                        </button>
                                    </div>


                                </div>
                            </mat-carousel-slide>



                        </mat-carousel>
                    </div>
                    <div class="sliderBox block md:hidden lg:hidden">
                        <mat-carousel timings="350ms ease-in" [autoplay]="false" interval="5000" proportion="90"
                            slides="3" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
                            [useMouseWheel]="false" orientation="ltr" class="cstomslide">

                            <mat-carousel-slide *ngFor="let item of CollegesAccordingCategoryArr">
                                <div class="grid grid-cols-1 gap-6 mx-6 items-center h-full">
                                    <div *ngFor="let college of item.bestColleges"
                                        class="flex flex-col flex-auto min-w-0 border rounded-lg p-3 shadow carousel-slide-content">
                                        <div class="flex justify-between">
                                            <div class="mr-2">
                                                <div class="border rounded p-1"><img [src]="college.image"
                                                        class=" h-20"></div>
                                                <div style="height: 90px; font-size: 13px;">
                                                    <h2 class="font-medium mt-2">{{college.title}}</h2>
                                                    <p *ngIf="college.accreditation != ''" class=""> <span
                                                            class="font-medium">Accreditation
                                                            :</span>{{college.accreditation}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <button mat-flat-button [color]="'primary'" class="mx-auto text-md mt-2"
                                            (click)="getCompareTab(college.id)">
                                            Compare
                                        </button>
                                    </div>


                                </div>
                            </mat-carousel-slide>



                        </mat-carousel>
                    </div>
                </div>
                <div class="flxBox mA cA my-3 px-4 sm:px-0 md:px-0"><strong class="quesTxt">Is this recommendation
                        relevant?</strong>
                    <div class="w-32 text-right">
                        <mat-icon class="whiteCrcl dislike iflxBox" svgIcon="mat_solid:thumb_up"></mat-icon>
                        <mat-icon class="whiteCrcl dislike iflxBox" svgIcon="mat_solid:thumb_down"></mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- left box end -->
    <div class="flex flex-col flex-auto min-w-0">
        <div>
            <div class="bg-card rounded mt-4 pb-2" *ngIf="campusImagesArr !=''">
                <h1 class="text-lg font-medium p-4 py-2 bg-primary-200 rounded-tl rounded-tr"> Photos & Videos </h1>
                <!-- <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4">
                    <div class="p-3" *ngFor="let item of campusImagesArr | slice:0:2">
                        <img [src]="item.image" (click)="openImageDialog(item.image)" class="rounded-lg h-30">
                    </div>
                </div> -->
                <mat-carousel timings="350ms ease-in" [autoplay]="false" interval="5000" color="#000" background="#fff"
                    maxWidth="auto" proportion="40" slides="3" [loop]="true" [hideArrows]="false"
                    [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr"
                    style="background: #fff;" class="cstomslide">

                    <mat-carousel-slide *ngFor="let item of campusImagesArr">
                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 ml-2">
                            <div class="p-3 " *ngFor="let college of item">
                                <img [src]="college.image" (click)="openImageDialog(college.image)"
                                    class="rounded-lg h-30">
                            </div>
                        </div>
                    </mat-carousel-slide>
                </mat-carousel>
            </div>

            <div class="flex flex-col min-w-0 mt-4" *ngIf="NotificationArr != ''">
                <div class="bg-card rounded">
                    <h1 class="text-lg font-medium p-4 py-2 bg-primary-200 rounded-tl rounded-tr">
                        {{collegename}} Notifications</h1>
                    <ul class="p-4 leading-8 secondary-color">
                        <li class="border-b mb-3 cursor-pointer" *ngFor="let item of NotificationArr"
                            (click)="getExamDetails(item.examId)">{{item.notification}}</li>
                    </ul>
                </div>
            </div>

            <div class="flex flex-col min-w-0 mt-4" *ngIf="latest_blogsArr != '' && popular_blogsArr !=''">
                <div class="bg-card rounded">
                    <h1 class="text-lg font-medium p-4 py-2 bg-primary-200 rounded-tl rounded-tr"> Articles & Updates
                    </h1>
                    <mat-tab-group class="mt-2">
                        <mat-tab label="Latest" *ngIf="latest_blogsArr != ''">
                            <ul class="leading-8 h60 overflow-y-auto">
                                <li class="border-b mb-3 flex justify-between" *ngFor="let item of latest_blogsArr">
                                    <a>
                                        <p class="cursor-pointer" (click)="getArticleDetails(item.id)">{{item.title}}
                                        </p>
                                    </a>
                                    <img class="ml-auto p-1" style="width: 30%;" [src]="item.image">
                                    <!-- <p class="text-sm">Satyendra Singh - <span
                                            class="ml-1 text-sm text-secondary">Jan 26, 2024 7L views</span>
                                    </p> -->
                                </li>

                            </ul>
                        </mat-tab>
                        <mat-tab label="Popular" *ngIf=" popular_blogsArr !=''">
                            <ul class="leading-8 h60 overflow-y-auto">
                                <li class="border-b mb-3 flex justify-between" *ngFor="let item of popular_blogsArr">
                                    <a>
                                        <p class="cursor-pointer" (click)="getArticleDetails(item.id)">{{item.title}}
                                        </p>
                                    </a>
                                    <img class="ml-auto p-1" style="width: 30%;" [src]="item.image">
                                    <!-- <p class="text-sm">Satyendra Singh - <span
                                                 class="ml-1 text-sm text-secondary">Jan 26, 2024 7L views</span>
                                         </p> -->
                                </li>
                            </ul>
                        </mat-tab>
                    </mat-tab-group>

                </div>
            </div>

            <div class="flex flex-col min-w-0 mt-4">
                <div class="bg-card rounded p-4 y-6">
                    <h1 class="text-lg font-bold p-4 py-2 rounded-tl rounded-tr"> Are you a student or an alumni of this
                        college?</h1>
                    <div class="text-center">
                        <button class="px-6 secondaryButton min-w-0 min-h-0 h-10 my-3" mat-flat-button
                            (click)="reviewrating()">
                            Write A Review<mat-icon svgIcon="mat_solid:create" class="min-w-0 w-5 ml-1"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popcenter">
        <ng-template #callAPIDialog1>
            <div class="flex flex-auto justify-between overflow-hidden relative ">
                <h2 matDialogTitle class="font-medium text-xl"></h2>
            </div>
            <div class="p-6 overflow-hidden max-w-full" style="width: 50vw;">
                <mat-icon svgIcon="mat_outline:close"
                    style="color: red; cursor: pointer; position: absolute; z-index: 111;  left: 74%;"
                    matDialogClose="yes" (click)="close()"></mat-icon>
                <div class="max-w-10xl">
                    <img style="height: 270px;" class="position-relative shadow-sm maxwh cursorpointer" title=""
                        src="{{image}} " accept="image" />
                </div>
            </div>
        </ng-template>
    </div>
</div>